.adaptive-card-loading-container {
    white-space: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(
        --todoist-card-loading-background,
        var(--doist-card-loading-background, rgba(0, 0, 0, 0.4))
    );
    position: absolute;
    z-index: 5;
    overscroll-behavior: contain;
    justify-content: center;
}
